<%= form_with(model: @coin_toss, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :heads, class: 'form-label' %>
      <%= f.text_area :heads, size: "24x6", placeholder: "Ducks is heads because ducks have heads", class: 'form-control' %>
    </div>

    <div class="col-sm-4">
      <img src="/assignHeads.gif" />
    </div>

    <div class="col-sm-4">
      <%= f.label :tails, class: 'form-label' %>
      <%= f.text_area :tails, size: "24x6", placeholder: "What kind of scary *** clowns came to your birthday?", class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-5 col-sm-2">
      <%= f.submit local_assigns[:button_label], class: "btn btn-primary", style: "margin-top: 20px" %>
    </div>
  </div>
<% end %>